@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #FFF;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.lists{
    margin-top: -150px; /* Desloca negativamente as listas para que apareça uma ponta dos filmes junto com o filme de capa */
}

footer{
    margin: 50px 0px; /* Cria uma margem na parte sup e inf */
    text-align: center; /* Alinha o texto ao centro */
}

.loading{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}